@use '../utils/mixins' as *;
@use '../utils/variables' as *;

.details {
  margin-bottom: 8rem;

  @media screen and (max-width: $xs) {
    margin-bottom: calc(40px / 7px * 1rem);
  }
}

.detail {
  display: grid;
  grid-template-columns: 10rem 1fr;
  gap: 4.7rem;
  align-items: center;

  @media screen and (max-width: $lg) {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  &:not(:last-child) {
    margin-bottom: 7rem;

    @media screen and (max-width: $sm) {
      margin-bottom: 5rem;
    }
  }

  &__icon {
    display: block;
    height: 10rem;
    width: 10rem;
    flex: 1;
    background-color: var(--color-light);
    border-radius: 50%;
    @include flexCenter;

    @media screen and (max-width: $sm) {
      height: 8.2rem;
      width: 8.2rem;
    }
  }

  &__image {
    width: 5rem;
  }

  &__heading {
    margin-bottom: 1rem;
  }

  &__text {
    color: var(--color-text-light);
    line-height: 3.4rem;
  }
}
