@use '../utils/mixins' as *;
@use '../utils/variables' as *;

.features {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  max-width: 78%;
  margin-bottom: 2rem;
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  width: 15rem;
  align-items: center;

  @media screen and (max-width: $xs) {
    width: 8rem;
  }

  &__img {
    @include flexCenter;
  }

  &__icon {
    display: inline-block;
    height: 80px;
    width: 80px;
    background-color: var(--color-grey-1);
    border-radius: 50%;
    @include flexCenter;

    @media screen and (max-width: $xs) {
      height: 38px;
      width: 38px;
    }
  }

  &__text {
    text-transform: capitalize;
    color: var(--color-grey-2);
    text-align: center;
    line-height: 2.4rem;
    font-weight: 400;

    @media screen and (max-width: $xs) {
      font-size: calc(9px / 7px * 1rem);
      line-height: calc(11px / 7px * 1rem);
    }
  }
}
