@use '../utils/variables' as *;

.h-title {
  font-size: 5.1rem;
  font-weight: 500;
  color: var(--text-dark);
  line-height: 6.4rem;

  @media screen and (max-width: $xs) {
    // 22px in rems
    font-size: calc(22px / 7px * 1rem);
    line-height: calc(28px / 7px * 1rem);
  }
}

.h-subtitle {
  font-size: 3.4rem;
  font-weight: 300;
  line-height: 4.1rem;
  color: var(--color-grey-1);
  max-width: 580px;

  @media screen and (max-width: $xs) {
    // px in rems
    font-size: calc(16px / 7px * 1rem);
    line-height: calc(20px / 7px * 1rem);
  }
}

.h-primary {
  font-size: 5.1rem;
  font-weight: 600;
  line-height: 6.3rem;
  color: var(--color-dark);

  @media screen and (max-width: $xs) {
    font-size: calc(22px / 7px * 1rem);
    line-height: calc(28px / 7px * 1rem);
  }
}

.h-secondary {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2.2rem;
  text-transform: capitalize;

  @media screen and (max-width: $xs) {
    font-size: calc(16px / 7px * 1rem);
    line-height: calc(20px / 7px * 1rem);
    margin-bottom: 1.6rem;
  }

  &--light {
    color: var(--color-grey-1);
  }
}
