@use 'sass:math';

:root {
  @font-face {
    font-family: 'Aktifoa';
    src: url('/fonts/aktifoa-light.otf') format('opentype');
    font-weight: 300;
  }

  @font-face {
    font-family: 'Aktifoa';
    src: url('/fonts/aktifoa-book.otf') format('opentype');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Aktifoa';
    src: url('/fonts/aktifoa-medium.otf') format('opentype');
    font-weight: 500;
  }

  @font-face {
    font-family: 'Aktifoa';
    src: url('/fonts/aktifoa-semibold.otf') format('opentype');
    font-weight: 600;
  }

  --color-accent: #f26621;
  --color-text: #131313;
  --color-text-light: #515151;
  --color-dark: #000;
  --color-dark-2: #1a1a1a;
  --color-light: #fff;
  --color-grey-1: #292929;
  --color-grey-2: #5d5d5d;
  --color-grey-3: #727272;
  --color-grey-4: #e5e5e5;

  // FONTS
  --font-primary: 'Aktifoa', sans-serif;
  --font-size: 2rem;
  --font-weight: 200;

  // Sizes
  --max-width: 1700px;
  // 110rem - 1024px
}

// BREAK POINTS
$xxl: math.div(1700, 16) * 1em; // 1700px
$xl: math.div(1435, 16) * 1em; // 1450px
$lg: math.div(1024, 16) * 1em; // 1024px
$md: math.div(768, 16) * 1em; // 768px
$sm: math.div(640, 16) * 1em; // 640px
$xs: math.div(430, 16) * 1em; // 375px
$xss: math.div(375, 16) * 1em;
