.footer {
  padding: 6rem 5%;
  background-color: var(--color-dark-2);
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  &__list {
    list-style: none;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    &--sm {
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }

  &__link {
    transition: all 0.2s;
    &,
    &:link,
    &:visited {
      text-decoration: none;
      font-weight: 300;
      font-size: 2.4rem;
      line-height: 2.9rem;
      color: var(--color-light);
    }

    &--sm {
      &,
      &:link,
      &:visited {
        font-size: 1.3rem;
        line-height: 2.4rem;
        color: var(--color-grey-2);
        &:hover,
        &:focus,
        &:active {
          color: var(--color-grey-4);
        }
      }
    }

    &:hover,
    &:focus,
    &:active {
      color: var(--color-grey-3);
    }
  }

  &__title {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    line-height: 3.6rem;
    color: var(--color-grey-4);
    font-weight: 300;
  }
}
